<%# TODO: 一旦のコンテンツ %>

<%= link_to 'New Post', new_post_path %>

<h2>タグ一覧</h2>
<div>
  <% Tag.all.each do |tag| %>
    <%= link_to '#' + tag.name, tag_path(name: tag.name) %>
  <% end %>
</div>

<h2>Post一覧</h2>
<div>
  <% Post.all.each do |post| %>
    <%= image_tag post.image.url, witdh: 300 %>
  <% end %>
</div>
