- unless signed_in?
  = link_to 'facebook　ログイン', '/auth/facebook', class: 'btn btn-primary btn-lg btn-block'

.tag-lists
  - @tags.each do |tag|
    .tag
      = link_to tag_path(name: tag.name) do
        %h2.tag__name= tag.name
        .tag__images
          - tag.posts.take(3).each do |post|
            = image_tag post.image.url(:medium), class: 'tag__image'
