.tag-lists {
  .tag {
    &>a {
      display: block;
      text-decoration: none;
    }
    &__name {
      padding: 0 10px;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid gray;
    }
    &__images {
      text-align: center;
    }
    &__image {
      width: 32%;
    }
  }
}
